.photo-grid {
    display: grid;
    margin-top: 92px;
    margin-bottom: 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 16px;
    align-items: center;
    column-gap: 16px;
    max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 14px;
      column-gap: 14px;
      min-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.photo-grid {
      margin-top: 88px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      min-width: 720px;
      margin-bottom: 0;
}
}

@media screen and (max-width: 767px) {
    .photo-grid {
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    min-width: 288px;
    }
}
