.places {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin-top: 92px;
}
  
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        margin-top: 92px;
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: 720px;
    margin-top: 0;
  }
}
 
@media screen and (max-width: 767px) {
  .places {
    min-width: 320px;
    margin-top: 0;
  }
}