.place-container__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-height: 152px;
    align-self: end;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place-container__title {
      font-size: 72px;
      line-height: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place-container__title {
    max-width: 340px;
    max-height: 92px;
    font-size: 42px;
    line-height: 110%;
    }
}

@media screen and (max-width: 767px) {
  .place-container__title {
      font-size: 32px;
      min-width: 288px;
      margin-top: 50px;
      margin-bottom: 0;
  }
}