.place-container__image {
    object-fit: cover;
    max-width: 460px;
    max-height: 460px;
}

@media screen and (max-width: 1024px) {
    .place-container__image {
    max-width: 440px;
    max-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place-container__image {
    max-width: 340px;
    max-height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place-container__image {
    max-height: 320px;
    max-width: 320px;
    }
}