.place-container__website{
    align-self: end;
    margin-bottom: 48px;
}
  
@media screen and (max-width: 320px) {
  .place-container__website {
    max-width: 288px;
    max-height: 46px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}