.lead {
    max-width: 984px;
    max-height: 1005px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    max-width: 984px;
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
    max-width: 768px;
  }
}