.footer__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    transition: 0.2s ease-in-out;
    padding-right: 18px;
}
  
.footer__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .footer__link {
      font-size: 24px;
      line-height: 100%;
    }
}