.intro {
    max-width: 690px;
    max-height: 429px;
    margin-top: 92px;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
    margin: 0;
    margin-left: 48px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
    .intro {
    min-width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
    .intro {
    margin: 0;
    margin-left: 18px;
    margin-top: 64px;
    min-width: 288px;
    max-height: 754px;
  }
}