.place-container__paragraph {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 0;
    max-width: 484px;
}

@media screen and (min-width: 1024px) {
    .place-container__paragraph {
        margin: 0;
        margin-bottom: 27px;
        font-size: 18px;
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
  .place-container__paragraph {
    max-width: 352px;
    max-height: 390px;
    margin: 0;
    margin-bottom: 25px;
  }
}
  
@media screen and (max-width: 320px) {
  .place-container__paragraph {
    max-width: 288px;
    margin-left: 16px;
  }
}