.lead__caption {
    display: flex;
    margin: 0;
    align-self: baseline;
    margin-top: 8px;
    max-width: 158px;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
    margin-left: 24px;
  }
}